.btn {
    border-radius: 50%;
    height: 35px;
    margin: 5px;
    position: relative;
    width: 35px;
    &>* {
        font-size: 0;
    }
    @include icomoon("play2");
}

.btn_start {
    @include icomoon("play3");
}

.btn_hold {
    @include icomoon("pause2");
}

.btn_stop {
    @include icomoon("stop2");
}

.btn_reset {
    @include icomoon("history");
}