
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-home3:before {
    content: "\e902";
  }
  .icon-pencil:before {
    content: "\e905";
  }
  .icon-play:before {
    content: "\e912";
  }
  .icon-history:before {
    content: "\e94d";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-clock2:before {
    content: "\e94f";
  }
  .icon-alarm:before {
    content: "\e950";
  }
  .icon-bell:before {
    content: "\e951";
  }
  .icon-undo:before {
    content: "\e965";
  }
  .icon-redo:before {
    content: "\e966";
  }
  .icon-undo2:before {
    content: "\e967";
  }
  .icon-redo2:before {
    content: "\e968";
  }
  .icon-forward:before {
    content: "\e969";
  }
  .icon-reply:before {
    content: "\e96a";
  }
  .icon-spinner11:before {
    content: "\e984";
  }
  .icon-cogs:before {
    content: "\e995";
  }
  .icon-magic-wand:before {
    content: "\e997";
  }
  .icon-stats-dots:before {
    content: "\e99b";
  }
  .icon-stats-bars:before {
    content: "\e99c";
  }
  .icon-stats-bars2:before {
    content: "\e99d";
  }
  .icon-fire:before {
    content: "\e9a9";
  }
  .icon-switch:before {
    content: "\e9b6";
  }
  .icon-sun:before {
    content: "\e9d4";
  }
  .icon-brightness-contrast:before {
    content: "\e9d6";
  }
  .icon-warning:before {
    content: "\ea07";
  }
  .icon-notification:before {
    content: "\ea08";
  }
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-cancel-circle:before {
    content: "\ea0d";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }
  .icon-checkmark2:before {
    content: "\ea11";
  }
  .icon-play2:before {
    content: "\ea15";
  }
  .icon-pause:before {
    content: "\ea16";
  }
  .icon-stop:before {
    content: "\ea17";
  }
  .icon-previous:before {
    content: "\ea18";
  }
  .icon-next:before {
    content: "\ea19";
  }
  .icon-backward:before {
    content: "\ea1a";
  }
  .icon-forward2:before {
    content: "\ea1b";
  }
  .icon-play3:before {
    content: "\ea1c";
  }
  .icon-pause2:before {
    content: "\ea1d";
  }
  .icon-stop2:before {
    content: "\ea1e";
  }
  .icon-backward2:before {
    content: "\ea1f";
  }
  .icon-forward3:before {
    content: "\ea20";
  }
  .icon-first:before {
    content: "\ea21";
  }
  .icon-last:before {
    content: "\ea22";
  }
  .icon-previous2:before {
    content: "\ea23";
  }
  .icon-next2:before {
    content: "\ea24";
  }
  .icon-eject:before {
    content: "\ea25";
  }
  .icon-volume-high:before {
    content: "\ea26";
  }
  .icon-volume-medium:before {
    content: "\ea27";
  }
  .icon-volume-low:before {
    content: "\ea28";
  }
  .icon-volume-mute:before {
    content: "\ea29";
  }
  .icon-volume-mute2:before {
    content: "\ea2a";
  }
  .icon-volume-increase:before {
    content: "\ea2b";
  }
  .icon-volume-decrease:before {
    content: "\ea2c";
  }
  .icon-loop:before {
    content: "\ea2d";
  }
  .icon-loop2:before {
    content: "\ea2e";
  }
  .icon-infinite:before {
    content: "\ea2f";
  }
  .icon-shuffle:before {
    content: "\ea30";
  }
  